<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
</head>
<body>
<h2>Reset Password</h2>
<form action="/reset-password" method="POST">
  <input type="hidden" id="userId" name="userId" value="${userId}">
  <label class="form-label">Password</label>
  <input required
         class="form-control" name="password" type="password">
  <button type="submit">Reset Password</button>
</form>
</body>
</html>
